node_modules/
.angular/
.tmp/
coverage/
*.tgz

docs-src/angular-15/node_modules/
docs-src/angular-15/package-lock.json
docs-src/angular-16/node_modules/
docs-src/angular-16/package-lock.json
docs-src/angular-17/node_modules/
docs-src/angular-17/package-lock.json
docs-src/angular-18/node_modules/
docs-src/angular-18/package-lock.json
